:root {
  /* color */
  --blue: #3a38ff;
  --light-blue: #f9fbfc;
  --dark-blue: #101041;
  --purple: #6261d8;
  --light-purple: #e5e4ff;
  --green: #316762;
  --grey: #dfe2e7;
  --medium-grey: #e7ebed;
  --dark-grey: #949293;
  --white: #ffffff;
  --black: #121212;
  /* font */
  --fw-extra-bold: 800;
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 300;
}

body {
  font-family: 'DM Sans', sans-serif;
  background: var(--light-blue);
}

/* custom header */
.big-header {
  font-weight: var(--fw-extra-bold);
  color: var(--dark-blue);
  line-height: 48px;
  margin: 0;
}

.medium-header {
  font-weight: var(--fw-bold);
  color: var(--dark-blue);
  line-height: 28px;
  margin: 0;
}

.small-header {
  font-weight: var(--fw-bold);
  color: var(--dark-blue);
  line-height: 22px;
  margin: 0;
}

.primary-copy {
  font-weight: var(--fw-regular);
  color: var(--dark-grey);
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}
/* end custom header */

/* button */
.btn-primary {
  padding: 12px 20px 12px 20px;
  background: var(--blue);
  color: var(--white);
  font-weight: var(--fw-semibold);
  border-radius: 50px;
  border: 0;
}

.btn-primary:hover {
  background: var(--dark-blue);
  color: var(--white);
}

.btn-secondary {
  padding: 12px 20px 12px 20px;
  background: var(--grey);
  color: var(--dark-blue);
  font-weight: var(--fw-medium);
  border-radius: 50px;
  border: 0;
}

.btn-secondary:hover {
  background: var(--dark-blue);
  color: var(--white) !important;
}

.text-button {
  text-decoration: none;
  color: var(--blue);
}

.text-button:hover {
  text-decoration: underline;
  color: var(--dark-blue);
}
/* end button */

/* navbar */
.navbar {
  --bs-navbar-padding-y: 0;
}

.navbar-nav .nav-item a:hover {
  color: var(--blue);
  transition: all 0.3s ease;
  font-weight: var(--fw-semibold);
}

.navbar-nav .nav-item a {
  color: var(--dark-blue);
  transition: all 0.3s ease;
}
.navbar-nav .nav-item {
  padding-right: 25px;
  padding-left: 25px;
  font-weight: var(--fw-regular);
}

.navbar-brand {
  font-weight: var(--fw-bold);
  font-size: 28px;
  color: var(--dark-blue);
}

.cashier-navbar {
  padding: 30px;
  background-color: var(--white);
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
}
/* end navbar */

/* hero section */
.hero .badge {
  background: var(--light-purple);
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 50px;
  gap: 8px;
}

.hero .small-copy {
  font-weight: var(--fw-semibold);
  color: var(--dark-blue);
  font-size: 14px;
  margin: auto;
}
/* end hero section */

/* custom margin */
.mt-70 {
  margin-top: 70px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}
/* end custom margin */

/* brand section */
.card-brand {
  width: 227px;
  height: 110px;
  border-radius: 16px;
  background: var(--medium-grey);
  text-align: center;
}

.card-brand .logo {
  height: 50px;
  margin-top: 30px;
}
/* carousel right animation */
.carousel-wrapper {
  display: flex;
  height: 110px;
  animation: moveSlideToLeft 25s linear infinite;
}

.carousel {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  height: 110px;
  overflow: hidden;
}

/* animation loop */
@keyframes moveSlideToLeft {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

/* carousel left animation */
.carousel-wrapper-left {
  display: flex;
  height: 110px;
  animation: moveSlideToRight 25s linear infinite;
}

.carousel-left {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  height: 110px;
  overflow: hidden;
}

@keyframes moveSlideToRight {
  0% {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
/* end brand section */

/* feature section */
.features .features-wrapper .big-feature-card {
  padding: 30px;
  border-radius: 16px;
  background: var(--white);
  padding-bottom: 60px;
  cursor: pointer;
}

.features .features-wrapper .small-feature-card {
  padding: 30px;
  border-radius: 16px;
  background: var(--white);
  padding-bottom: 30px;
  cursor: pointer;
}

.features .features-wrapper h3 {
  padding-top: 16px;
}

.features .features-wrapper .icon {
  float: left;
  width: 60px;
  height: 200px;
  margin-right: 18px;
}

.features .features-wrapper .small-feature-card .icon {
  height: 100px;
}

.features .features-wrapper .icon img {
  width: 60px;
  height: 60px;
}

/* hover blur effect */
.features-wrapper:hover .big-feature-card:not(:hover) {
  filter: blur(4px);
  transition: all 0.3s ease;
}

.features-wrapper:hover .small-feature-card:not(:hover) {
  filter: blur(4px);
  transition: all 0.3s ease;
}
/* end hover blur effect */
/* end feature section */

/* booking section */
/* custom form */
.form-control {
  background: var(--white);
  border: 0;
  border-radius: 50px;
  padding: 12px 20px 12px 20px;
}

/* custom select */
.form-select {
  background: var(--white);
  background-image: url(../img/icons/icon_dropdown.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 20px;
  border: 0;
  border-radius: 50px;
  padding: 12px 20px 12px 20px;
}

/* custom textarea */
textarea.form-control {
  border-radius: 16px;
}
/* end booking section */

/* footer */
.footer {
  background: var(--white);
  color: var(--dark-grey);
}

.footer a {
  text-decoration: none;
  color: var(--dark-grey);
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
  color: var(--blue);
}
/* end footer */
